body {
background-image: url('https://pa1.narvii.com/7723/6f250078c8202b60087e50900ec4acb61ba06ffer1-500-380_hq.gif');
background-size: cover;
background-color: black;
font-family: 'Staatliches', cursive;
}

.countdownContainer {
position: absolute;
top: 50%;
left: 50%;
transform: translateX(-50%) translateY(-50%);
text-align: center;
color: #eb8f8f;
text-shadow: -4px -4px 0 #000, 4px -4px 0 #000, -4px 4px 0 #000, 4px 4px 0 #000;
padding: 10px;
width: 100%;
font-size: 70px;


}

#notBirthdayTime {
color: white;
position: absolute;
top: 15%;
left: 50%;
transform: translateX(-50%) translateY(-50%);
text-align: center;
font-size: 60px;
}

#birthdayTime {
display: none;
height: 100%;
width: 100%;
left:0;
right: 0;
top: 0;
bottom: 0;
position: absolute;

background-size: 1800% 1800%;


}

#birthdayTime h3 {
position: absolute;
top: 20%;
right: 25%;
font-size: 150px;
color: white;
z-index: 1;
}

#unicornPicture {
position: absolute;
height: 100%;
top: 0%;
}